@model ImageServiceWeb.Models.ImageWebModel
@{
    ViewBag.Title = "ImageWeb";
}

<h2>Image Web</h2>
<table class="table">
    <tr>
        <th>Service Status</th>
        <td class="text-md-center">
            @if (Model.IsConnected)
            {
                <span style="font-weight: bold; font-size: large" class="badge badge-success">Active</span>
            }
            else
            {
                <span style="font-weight: bold; font-size: large" class="badge badge-warning">Inactive</span>
            }
        </td>
    </tr>
    <tr>
        <th>Number of Stored Photos</th>
        <td class="text-center">
            @if (Model.NumOfPics > 0)
            {
                <span style="font-weight: normal; font-size: large">@Model.NumOfPics</span>
            }
            else
            {
                <span style="font-weight: normal; font-size: large">N/A</span>
            }

        </td>
    </tr>


</table>

<th>Student Details</th>
<table class="table">
    <tr>
        <th>First Name</th>
        <td class="text-md-center">
            <span style="font-weight: normal; font-size: large">Rivka</span>
        </td>
        <td class="text-md-center">
            <span style="font-weight: normal; font-size: large">Yarin</span>
        </td>
    </tr>
    <tr>
        <th>Last Name</th>
        <td class="text-md-center">
            <span style="font-weight: normal; font-size: large">Schuss</span>
        </td>
        <td class="text-md-center">
            <span style="font-weight: normal; font-size: large">Shaked</span>
        </td>
    </tr>
    <tr>
        <th>ID Number</th>
        <td class="text-md-center">
            <span style="font-weight: normal; font-size: large">TBA</span>
        </td>
        <td class="text-md-center">
            <span style="font-weight: normal; font-size: large">TBA</span>
        </td>
    </tr>
</table>
